﻿@model CarSaleSix.Models.CUSTOMER

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
<h2>Details</h2>

<div>
    <h4>CUSTOMER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FIRST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIRST)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PHONE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHONE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADDRESS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADDRESS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CUSTID }) <br/>
    @Html.ActionLink("Back to List", "Index")<br/>
    @Html.ActionLink("Reset Password","ResetPassword")<br/>
    @Html.ActionLink("Add Bill","Create","Bills")
</p>
</div>