﻿@model CarSaleSix.Models.CUSTOMER

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    if (ViewBag.Message != null)
    {
        <div class="alert alert-success">Success @ViewBag.Message</div>
    }
}
else
{
    if (@Context.User.Identity.Name.ToString().ToLower() == "carsalesdotnet@gmail.com")
    {
        using (Html.BeginForm())
         {
             @Html.AntiForgeryToken()
             <div class="jumbotron">
                 <div class="form-horizontal">
                     <h4>CUSTOMER</h4>
                     <hr/>
                     @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                     @Html.HiddenFor(model => model.CUSTID)

                     <div class="form-group">
                         @Html.LabelFor(model => model.FIRST, htmlAttributes: new {@class = "control-label col-md-2"})
                         <div class="col-md-10">
                             @Html.EditorFor(model => model.FIRST, new {htmlAttributes = new {@class = "form-control"}})
                             @Html.ValidationMessageFor(model => model.FIRST, "", new {@class = "text-danger"})
                         </div>
                     </div>

                     <div class="form-group">
                         @Html.LabelFor(model => model.LAST, htmlAttributes: new {@class = "control-label col-md-2"})
                         <div class="col-md-10">
                             @Html.EditorFor(model => model.LAST, new {htmlAttributes = new {@class = "form-control"}})
                             @Html.ValidationMessageFor(model => model.LAST, "", new {@class = "text-danger"})
                         </div>
                     </div>

                     <div class="form-group">
                         @Html.LabelFor(model => model.EMAIL, htmlAttributes: new {@class = "control-label col-md-2"})
                         <div class="col-md-10">
                             @Html.EditorFor(model => model.EMAIL, new {htmlAttributes = new {@class = "form-control"}})
                             @Html.ValidationMessageFor(model => model.EMAIL, "", new {@class = "text-danger"})
                         </div>
                     </div>

                     <div class="form-group">
                         @Html.LabelFor(model => model.PASSWORD, htmlAttributes: new {@class = "control-label col-md-2"})
                         <div class="col-md-10">
                             @Html.EditorFor(model => model.PASSWORD, new {htmlAttributes = new {@class = "form-control"}})
                             @Html.ValidationMessageFor(model => model.PASSWORD, "", new {@class = "text-danger"})
                         </div>
                     </div>
                     <div class="form-group">
                         @Html.LabelFor(model => model.CONFIRMPASSWORD, htmlAttributes: new {@class = "control-label col-md-2"})
                         <div class="col-md-10">
                             @Html.EditorFor(model => model.CONFIRMPASSWORD, new {htmlAttributes = new {@class = "form-control"}})
                             @Html.ValidationMessageFor(model => model.CONFIRMPASSWORD, "", new {@class = "text-danger"})
                         </div>
                     </div>
                     <div class="form-group">
                         @Html.LabelFor(model => model.PHONE, htmlAttributes: new {@class = "control-label col-md-2"})
                         <div class="col-md-10">
                             @Html.EditorFor(model => model.PHONE, new {htmlAttributes = new {@class = "form-control"}})
                             @Html.ValidationMessageFor(model => model.PHONE, "", new {@class = "text-danger"})
                         </div>
                     </div>

                     <div class="form-group">
                         @Html.LabelFor(model => model.ADDRESS, htmlAttributes: new {@class = "control-label col-md-2"})
                         <div class="col-md-10">
                             @Html.EditorFor(model => model.ADDRESS, new {htmlAttributes = new {@class = "form-control"}})
                             @Html.ValidationMessageFor(model => model.ADDRESS, "", new {@class = "text-danger"})
                         </div>
                     </div>

                     <div class="form-group">
                         <div class="col-md-offset-2 col-md-10">
                             <input type="submit" value="Save" class="btn btn-default"/>
                         </div>
                     </div>
                 </div>
             </div>

             if (ViewBag.Message != null)
             {
                 <div class="alert alert-danger">Error @ViewBag.Message</div>
             }
         }
    }
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}