﻿
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Forgot Password</h2>
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr/>
        <div class="text-success">@ViewBag.Message</div>
        <div class="form-group">
            <label class="control-label col-md-2">Email ID</label>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="submit" class="btn btn-success"/>
            </div>
        </div>
    </div>
}

