﻿@using CarSaleSix.Models
@model IEnumerable<CarSaleSix.Models.CUSTOMER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    if (ViewBag.Message != null)
    {
        <div class="alert alert-success">Success @ViewBag.Message</div>
    }
}
else
{
    if (Context.User.Identity.Name.ToString().ToLower() != "")
    {
        if (Context.User.Identity.Name.ToString().ToLower() == "carsalesdotnet@gmail.com")
        {
            <h2>Index</h2>
            <div class="jumbotron">
                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FIRST)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LAST)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EMAIL)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PASSWORD)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PHONE)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ADDRESS)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FIRST)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LAST)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EMAIL)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PASSWORD)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PHONE)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ADDRESS)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new {id = item.CUSTID}) |
                                @Html.ActionLink("Details", "Details", new {id = item.CUSTID}) |
                                @Html.ActionLink("Delete", "Delete", new {id = item.CUSTID})
                            </td>
                        </tr>
                    }

                </table>
            </div>
        }
        else
        {    foreach (var item in Model)
              {
                  @Html.ActionLink("Edit", "Edit", new {id = item.CUSTID})
              }
        }
    }
    else if (Context.User.Identity.Name.ToString().ToLower() == "")
    {
        Response.Redirect("../Customer/Login/id=" + "2");
    }
    if (ViewBag.Message != null)
    {
    <div class="alert alert-danger" > Error @ViewBag.Message </div>
    }
}


@if (@Context.User.Identity.Name.ToString().ToLower() == "carsalesdotnet@gmail.com")
{
    Response.Redirect(Url.Action("Details", "Customer"));
}
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Customer", FormMethod.Post, new {id = "logoutForm"}))
    {
        <a href="javascript:document.getElementById('logoutForm').submit">Logout</a>
    }
}
