﻿
@{
    ViewBag.Title = "VerifyAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Verify Account</h2>

@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    <div class="alert alert-success">
        <b>Success!</b> Your account has been created successfully.<br />
        Click here to @Html.ActionLink("Login", "Login", "Customer")
    </div>
}
else
{
    <div class="alert alert-danger">
        <b>Error!</b>@ViewBag.Message
    </div>
}
