﻿@model CarSaleSix.Models.BILL

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create a new Bill</h2>

@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    if (ViewBag.Message != null)
    {
        <div class="alert alert-success">Success @ViewBag.Message</div>
    }
}
else
{
    using (Html.BeginForm())
     {
         @Html.AntiForgeryToken()
        <div class="jumbotron">
         <div class="form-horizontal">
             <h4>BILL</h4>
             <hr/>
             @Html.ValidationSummary(true, "", new {@class = "text-danger"})
             <div class="form-group">
                 @Html.LabelFor(model => model.EMAIL, htmlAttributes: new {@class = "control-label col-md-2"})
                 <div class="col-md-10">
                     @Html.EditorFor(model => model.EMAIL, new {htmlAttributes = new {@class = "form-control"}})
                     @Html.ValidationMessageFor(model => model.EMAIL, "", new {@class = "text-danger"})
                 </div>
             </div>

             <div class="form-group">
                 @Html.LabelFor(model => model.DOWN_PAYMENT, htmlAttributes: new {@class = "control-label col-md-2"})
                 <div class="col-md-10">
                     @Html.EditorFor(model => model.DOWN_PAYMENT, new {htmlAttributes = new {@class = "form-control"}})
                     @Html.ValidationMessageFor(model => model.DOWN_PAYMENT, "", new {@class = "text-danger"})
                 </div>
             </div>

             <div class="form-group">
                 @Html.LabelFor(model => model.FREQUENCY, htmlAttributes: new {@class = "control-label col-md-2"})
                 <div class="col-md-10">
                     @Html.DropDownListFor(model => Model.FREQUENCY, new List<SelectListItem>
                     {
                         new SelectListItem {Text = "Monthly", Value = "Monthly"},
                         new SelectListItem {Text = "Weekly", Value = "Weekly"}
                     }, new {@class = "form-control"})
                 </div>
             </div>

             <div class="form-group">
                 @Html.LabelFor(model => model.STARTDATE, htmlAttributes: new {@class = "control-label col-md-2"})
                 <div class="col-md-10">
                     @Html.EditorFor(model => model.STARTDATE, new {htmlAttributes = new {@class = "form-control"}})
                     @Html.ValidationMessageFor(model => model.STARTDATE, "", new {@class = "text-danger"})
                 </div>
             </div>

             <div class="form-group">
                 @Html.LabelFor(model => model.ENDDATE, htmlAttributes: new {@class = "control-label col-md-2"})
                 <div class="col-md-10">
                     @Html.EditorFor(model => model.ENDDATE, new {htmlAttributes = new {@class = "form-control"}})
                     @Html.ValidationMessageFor(model => model.ENDDATE, "", new {@class = "text-danger"})
                 </div>
             </div>

             <div class="form-group">
                 @Html.LabelFor(model => model.INTEREST, htmlAttributes: new {@class = "control-label col-md-2"})
                 <div class="col-md-10">
                     @Html.EditorFor(model => model.INTEREST, new {htmlAttributes = new {@class = "form-control"}})
                     @Html.ValidationMessageFor(model => model.INTEREST, "", new {@class = "text-danger"})
                 </div>
             </div>

             <div class="form-group">
                 @Html.LabelFor(model => model.EMI, htmlAttributes: new {@class = "control-label col-md-2"})
                 <div class="col-md-10">
                     @Html.EditorFor(model => model.EMI, new {htmlAttributes = new {@class = "form-control"}})
                     @Html.ValidationMessageFor(model => model.EMI, "", new {@class = "text-danger"})
                 </div>
             </div>

             <div class="form-group">
                 @Html.LabelFor(model => model.TOTAL, htmlAttributes: new {@class = "control-label col-md-2"})
                 <div class="col-md-10">
                     @Html.EditorFor(model => model.TOTAL, new {htmlAttributes = new {@class = "form-control"}})
                     @Html.ValidationMessageFor(model => model.TOTAL, "", new {@class = "text-danger"})
                 </div>
             </div>

             <div class="form-group">
                 <div class="col-md-offset-2 col-md-10">
                     <input type="submit" value="Create" class="btn btn-success" style="width: 300px"/>
                 </div>
             </div>
         </div>
            </div>
         if (ViewBag.Message != null)
         {
             <div class="alert alert-danger">Error @ViewBag.Message</div>
         }
     }
}


@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
