﻿@model CarSaleSix.Models.BILL

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BILL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOWN_PAYMENT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOWN_PAYMENT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FREQUENCY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FREQUENCY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STARTDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STARTDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ENDDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ENDDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INTEREST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INTEREST)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TOTAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TOTAL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BILLNO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
