﻿@model IEnumerable<CarSaleSix.Models.BILL>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOWN_PAYMENT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FREQUENCY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STARTDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ENDDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INTEREST)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TOTAL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOWN_PAYMENT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FREQUENCY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STARTDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ENDDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INTEREST)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TOTAL)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BILLNO }) |
            @Html.ActionLink("Details", "Details", new { id=item.BILLNO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BILLNO })
        </td>
    </tr>
}

</table>
