﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Car Sales Program</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body background="~/Images/backcars.jpg" style="background-size: cover">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand shadow" href='@Url.Action("Welcome", "Home")'>Sales Gen 2018</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav navbar-right">
                    <li class="shadow">

                        @if (@Context.User.Identity.Name.ToString().ToLower() != "")
                        {
                            <a href='@Url.Action("Details", "Customer")'>
                                @Context.User.Identity.Name
                            </a>
                        }
                    </li>
                    <li class="shadow">
                        @if (@Context.User.Identity.Name.ToString().ToLower() != "")
                        { 
                            //<form method="post" action="~/"></form>
                            <a href='@Url.Action("Logout", "Customer")'>
                                Sign Out
                            </a>
                        }
                        else
                        {
                            <a href='@Url.Action("Login", "Customer")'>
                                Log In
                            </a>
                        }
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - Sales Gen 2018</p>
    </footer>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
