﻿@{
    ViewBag.Title = "Home Page";
}

<h2>
    Index
</h2>
<div class="jumbotron">
    Welcome @HttpContext.Current.User.Identity.Name

    @if (@Context.User.Identity.Name.ToString().ToLower() == "carsalesdotnet@gmail.com")
    {
        Response.Redirect(Url.Action("Details", "Customer", new {id = 2}));
    }
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("Logout", "Customer", FormMethod.Post, new {id = "logoutForm"}))
        {
            <a href="javascript:document.getElementById('logoutForm').submit">Logout</a>
        }
    }
  
</div>