﻿
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome</h2>
<div class="jumbotron" style="margin-top: 50px">
<h4>Hello, <b>@Context.User.Identity.Name</b>!</h4>
@if (@Context.User.Identity.Name.ToString().ToLower() == "carsalesdotnet@gmail.com")
{
    <text>Here are some of the options for Administrator: </text>
    @Html.ActionLink("List of Customers", "Index", "Customer")
}
else if(@Context.User.Identity.Name.ToString()!="")
{
    Response.Redirect("~/Customer/Details");
}
</div>